<h1>Acerca de Nosotros</h1>
<p>
<strong>"Tú. Futuro Universitario"</strong> es un proyecto que busca darle la oportunidad  a estudiantes de preparatoria para  asistir a los congresos organizados por los grupos estudiantiles del Tecnológico de Monterrey campus Monterrey. El Consejo de Acciones por México busca reducir la deserción escolar que existe en la transición de preparatoria a universidad.
</p>
<p>
<h3>Misión:</h3>
<span>Fomentar en la sociedad  la importancia de la continuidad de los estudios universitarios para formar ciudadanos comprometidos con el futuro educativo del país.</span>
</p>
<p>
Objetivos:
<ul>
  <li>Estudiantes de Preparatoria</li>
  <li>Disminuir la deserción escolar en los estudiantes de preparatoria.</li>
  <li>Que los estudiantes de preparatoria logren conocer sus gustos y habilidades con el fin de estudiar una carrera profesional.</li>
</p>
