<h1>Contacto</h1>
<form action="contact/send" method="post">
  <b>Nombre:</b> <input name="name"/><br/>
  <b>Email:</b> <input name="email"/><br/>
  <b>Tel&eacute;fono:</b> <input name="phone"/><br/>
  <b>Direcci&oacute;n:</b> <input name="address"/>

  <p>
    <b>Asunto:</b> <input name="subject"/><br/>
    <textarea cols="40" rows="8" name="comments"></textarea>
  </p>

  <input type="submit" value="Enviar"/>
</form>
