<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Hola <%= @scholarship.name %>!<br/>
    =================================================
    <p>
      Se ha recibido tu solicitud de beca. Nos pondremos en contacto pronto para informarte que ocurrirá.
    </p>
    =================================================<br/>
    Mensaje automaticamente generado, favor de no responder a este email.
  </body>
</html>
