<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Se ha recibido una nueva solicitud de beca. Favor de revisarla en el sitio.
    </p>
  </body>
</html>
