<div id='questions'>
<h2>Platícanos por que quieres ir al congreso</h2>
<ul>
  <li>¿Porque te gustaría asistir?</li>
  <li>¿Cuales son las cualidades que te hacen un estudiante único? </li>
  <li>¿Como aplicarías los conocimientos adquiridos a tu entorno?</li>
</ul>
</div>
