<div id='questions'>
<h2>Platícanos por que quieres ir al congreso</h2>
<ul>
  <li>¿Lorem ipsum dolor sit consectetur adipisicing elit?</li>
  <li>¿Sed do eiusmod tempor labore et dolore magna aliqua? </li>
  <li>¿Ut enim ad minim venim,ea commodo consequat?</li>
  <li>¿Duis aute irure dolor in eu fugiat nulla pariatur?</li>
</ul>
</div>
