<% if @congresses.empty? %>
  <h2>No tienes congresos</h2>
  <%= link_to "Create One!", new_congress_path%>
<%else%>
  <h2>Tus congresos</h2>
  <%= render :partial => 'congresses/congresses', :locals => {:congresses => @congresses}%>
<% end%>
